# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Qt files
.moc
.obj
Makefile

# Executables
/converter/converter
/hyperbolic_paintlines/hyperbolic_paintlines
/quasiperiodic_paintstripes/quasiperiodic_paintstripes
/paintclouds/paintclouds
/paintlines/paintlines
/paintsquiggles/paintsquiggles
/paintstripes/paintstripes
/ca/ca
